@page
@model ServiceHost.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="checkout_area section_gap">
    <div class="container">

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form action="#" method="post" class="row contact_form" method="post" novalidate="novalidate">
                        <input type="hidden" asp-for="Order.UserName" value="a" />
                        
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="Order.FirstName" type="text" class="form-control" required>
                            <span class="placeholder" data-placeholder="First name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="Order.LastName" type="text" class="form-control" required>
                            <span class="placeholder" data-placeholder="Last name"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Order.Email" type="email" class="form-control" placeholder="Email" required>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <select class="country_select">
                                <option value="2">France</option>
                                <option value="1">United States</option>
                            </select>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <textarea class="form-control" rows="4" cols="50" name="adress" required></textarea>    
                            <span class="placeholder" data-placeholder="adress"></span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li><a href="">Product <span>Total</span></a></li>

                            @foreach (var item in Model.Cart.Items)
                            {
                                <li>
                                    <a href="#">@item.ProductTitle 
                                        <span class="middle">x @item.Quantity</span> 
                                        <span class="last">@item.Price $</span>
                                    </a>
                                 </li>
                            }
                        </ul>

                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>$@Model.Cart.TotalPrice</span></a></li>
                            <li><a href="#">Shipping <span>$0.99</span></a></li>
                            <li><a href="#">Total <span>$@(Model.Cart.TotalPrice + 0.99 )</span></a></li>
                        </ul>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <a class="primary-btn" asp-page-handler="Checkout" method="post">Proceed to Paypal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>